html {
  background: url("./assets/img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Gravity;
  src: url("./assets/fonts/Gravity-Regular.otf") format("opentype");
}

@font-face {
  font-family: Gravity-Light;
  src: url("./assets/fonts/Gravity-Light.otf") format("opentype");
}

@font-face {
  font-family: Gravity-Bold;
  src: url("./assets/fonts/Gravity-Bold.otf") format("opentype");
}

@font-face {
  font-family: Gravity-Book;
  src: url("./assets/fonts/Gravity-Book.otf") format("opentype");
}

@font-face {
  font-family: Gravity-LightItalic;
  font-style: italic;
  src: url("./assets/fonts/Gravity-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: Gravity-UltraLight;
  src: url("./assets/fonts/Gravity-UltraLight.otf") format("opentype");
}
